<template name="contactMe">


    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="contactMe">
        <div class="w-100">
            <h2 class="mb-5">Contact Me</h2>

            {{#autoForm id="contactMeForm" schema="contactMeSchema" type="method" meteormethod="contactMeMethod" }}
            <div class="row">
                <div class="col-6">
                    {{> afQuickField name="name"}}

                </div>

                <div class="col-6">
                    {{> afQuickField name="email"}}

                </div>


            </div>

            <div class="row">
                <div class="col">
                    {{> afQuickField name="message" rows=10}}

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary" id="submitMessage">Send</button>
                </div>
            </div>

            {{/autoForm}}



        </div>
    </section>




</template>
