<template name="rejectBox">

        <div class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">

                  
                  <div class="modal-body">
                      <strong> You are not authorized to edit !! </strong> 
                  </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
    
          
    </template>